# This file is included from your SSH config file (~/.ssh/config).
# In turn, it includes the configuration for the currently active CLI session.
# It is updated automatically when certain CLI commands are run.
Host *.platform.sh *.upsun.com
  Include /root/.upsun-cli/.session/sess-cli-default/ssh/config
